@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap');

.contacts-container {  
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contacts-container a {
  line-height: 2;
  width: fit-content;
  text-decoration: none;
  color: #ece4db	;
  font-size: 50px;
  font-family: 'Bebas Neue';
  text-shadow: 5px 5px 15px rgb(81,67,21),
    -5px 5px 15px rgb(81,67,21),
    -5px -5px 15px rgb(81,67,21),
    5px -5px 15px rgb(81,67,21);
}


.contacts-container a button {
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  padding: 5px;
  color:  white; 
  text-align:center;
  transition: all 0.2s;
  border-radius: 8px;
  font-family: 'Bebas Neue', cursive;
  font-size: 23px;
  width: 200px;
    
}
.contacts-container a button::after {
    content: 'Download resume';
}

.contacts-container a button:hover{
  background-color: #ece4db;
  color: black;

}

.contacts-container a button:focus:hover {
    transition: 0.5s ease;
    text-shadow: 5px 5px 15px rgb(81,67,21);

}
.contacts-container a button:focus {
  text-shadow: 5px 5px 15px rgb(81,67,21);

}

.download button:focus::after {
    content: 'Downloaded resume';
}

@media only screen and (max-width: 480px) {

    .contacts-information {
        margin-right: 20vh;
    }
}
