@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.portfolio-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
}

.portfolio-card {
    margin: 50px;
    width: 300px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
    color: white;
    font-size: 15px;
}

.portfolio-card h3 {
    font-size: 30px;
    cursor: pointer;
    color: #ece4db;
    font-family: 'Bebas Neue';
    text-shadow: 2px 2px 7px rgb(81, 21, 52)
}


@media only screen and (max-width: 480px) {
    body {
        overflow-x: hidden;
        max-width: 100vw;
    }

}