<div class="about-container">

    <div class="about-personal">
        <div class="about-text-container">
            <p class="about-text">I am a software engineer with a bachelor of Science in Software
                Development.
                <br>
                Last years I have been working a lot with computer security. All from threat modeling to pen testing and
                enhancing security functions in systems.
                Information security is where my interest lies and how to trust that the data flow is not compromised in
                any stage of its life.
                I am a fast learner and find myself enjoying most topics, and i am constantly looking for the next topic
                to investigate.
                I also enjoy creative tasks, such as front end development, writing, or presenting.
                <br>
                <br>
                I thrive from a challenge and always try to find simple solutions to difficult problems. Puzzles and
                problem
                solving
                is the peak of joy to me. It is more impressive to solve a problem by simple and
                obvious
                means,
                than to develop a complex solution
                that requires an hour to explain.
                <br>
                <br>
                My finest feature is that I tend to get things done.
                <br>
                <br>
            </p>
        </div>
        <div class="about-fun-fact">
            <img id="birds" src="./resources/bird.png" alt="birds">
            <span id="fun-fact-text"></span>
        </div>
    </div>
</div>