<div class="about-container">

  <div class="about-personal">
    <div class="about-text-container">
      <p class="about-text">I am a software developer graduating in 2022 with a bachelor of Science in Software
        Development.
        <br>
        I have the most experience in Java, but I am also comfortable with JavaScript, Kotlin and Python.
        My heart's desire is security and I truly believe that it should be a crucial foundation of every technology
        today.
        I am a fast learner and find myself enjoying most topics, being networking, databases, operating systems, app or
        web development.
        <br>
        <br>
        I thrive from a challenge and always try to find simple solutions to difficult problems. Puzzles and problem
        solving
        is the peak of joy to me. For the last couple years I have participaded in Advent of code where I have learned
        that
        every problem can have many
        solutions and each is better than the other. It is more impressive to solve a problem by simple and obvious
        means,
        than to develop a complex solution
        that requires an hour to explain.
        <br>
        <br>
        My finest feature is that I tend to get things done.
        <br>
        <br>
        When I'm not in front of the computer I like to be out in nature. My dog and I like to go hiking and we
        often follow Skåneleden.
      </p>
    </div>
    <div class="about-fun-fact">
      <img id="birds" src="./resources/bird.png" alt="birds">
      <span id="fun-fact-text"></span>
    </div>
  </div>
</div>