<div class="courses-container">
  <div class="course-card">
    <h3>Introduction to Computer Science, 7.5hp</h3>
    <p>A course about algorithms, logic thinking, problem solving and basic academic writing.</p>
  </div>

  <div class="course-card">
    <h3>Fundamental programming, 7,5hp</h3>
    <p>An introductive course to programming, taught in Java.</p>
  </div>

  <div class="course-card">
    <h3>Project Course 1, 7.5hp</h3>
    <p>Introduction to agile work, programming in teams and dividing work loads.</p>
  </div>

  <div class="course-card">
    <h3>Database techniques, 7.5hp</h3>
    <p>Managing and working with databses. Normalization, course taught in MySQL and Java.</p>
  </div>

  <div class="course-card">
    <h3>Object-oriented Programming, 7.5hp</h3>
    <p>Dive into OOP and Java, how to structure and create applications object oriented.</p>
  </div>

  <div class="course-card">
    <h3>Introduction to Mathematics for Computer science, 15hp</h3>
    <p>Mathematics for computer science, including algebra, geometry, statistics and probability.</p>
  </div>

  <div class="course-card">
    <h3>Discrete Mathematics 7.5hp</h3>
    <p>Mathematics for problem solving, graph theory, number theory, boolean algebra and statistics.</p>
  </div>

  <div class="course-card">
    <h3>Digital Electronic System Design 7.5hp</h3>
    <p>Boolean logics, electronic connections, using Arduino.</p>
  </div>

  <div class="course-card">
    <h3>Operating Systems, 7.5hp</h3>
    <p>How operating system work, kernel jobs, processes stacks and queues. Goal of the course was to get a foundational
      understanding of how the different operating systems function and handle jobs.</p>
  </div>

  <div class="course-card">
    <h3>Algorithms and Data Structures 7.5hp</h3>
    <p>Exploration of different algorithms, including sorting and searching algorithms as well as comparing speed and
      effiency using Big O notation with big data sets.
    </p>
  </div>

  <div class="course-card">
    <h3>Data Communication, 7.5hp</h3>
    <p>Exploring the TCP/IP stack layers, as well as different networking technologies, internetworking and protocols.
    </p>
  </div>

  <div class="course-card">
    <h3>Development for Mobile Platforms, 7.5hp</h3>
    <p>A course in development for Android. Taught in Kotlin.
    </p>
  </div>

  <div class="course-card">
    <h3>Software Engineering, 7.5hp</h3>
    <p>A project course as a continuation on Android development, including teamworking, sprints and agile work flow.
    </p>
  </div>

  <div class="course-card">
    <h3>Computer Security, 7.5hp</h3>
    <p>Security standards, cryptography, ciphers, key exchange, hashing methods and firewall technologies.
    </p>
  </div>

  <div class="course-card">
    <h3>Entrepreneurship and Innovation, 7.5hp</h3>
    <p>Models for entrepreneurship, different techniques for innovation and idea cracking.
    </p>
  </div>

  <div class="course-card">
    <h3>Software Engineering 2 15hp</h3>
    <p>Project course with a bigger team of 18 people, divided into 4 subgroups. My subgroup established a collaboration
      with Furuboda to explore how our 'smart home' solution could aid people with disabilities.
    </p>
  </div>

  <div class="course-card">
    <h3>Computer Network Application, 7.5hp</h3>
    <p>Developing for networking, socket programming, blocking and nonblocking solutions. REST services.
    </p>
  </div>

  <div class="course-card">
    <h3>Software development for the web 7.5hp</h3>
    <p>Course about web development, taught in JavaScipt. General course about security for teh web, headless model,
      distributed systems, fullstack development on the web, database modeling.
    </p>
  </div>

  <div class="course-card">
    <h3>Software development for the cloud, 7.5hp</h3>
    <p>Investigating cloud solutions, developing application for the cloud and managing cloud providers and their
      different features, such as offline connections, statistics and other metrics.
    </p>
  </div>

  <div class="course-card">
    <h3>Degree Project Software Development 15hp.</h3>
    <p>Thesis project about securing a public network using a Raspberry Pi. Will be publised on DiVA.
    </p>
  </div>
</div>