<div class="portfolio-container">
  <div class="portfolio-card">
    <h3 onclick="cardClick('https://github.com/Willz01/Outdork')">Outdork</h3>
    <br>
    <p>An android application that encourages people to be more outdoors,
      it gives examples of tracks and other outdoor activities to do.
      Outdork was a school project where I was a part in a team of 4 students.
      It was written in Kotlin using Android Studio and Firebase for storing.
      <br>
      Press on Outdork to find it on GitHub.
    </p>
  </div>

  <div class="portfolio-card">
    <h3 onclick="cardClick('https://fannysoderlund.github.io/tetris/')">Tetris</h3>
    <br>
    <p>A fun interpretation of the classical archade game Tetris. Made in vanilla Javascript.
      <br>
      Check out and play the game by clicking on Tetris.
    </p>
  </div>

  <div class="portfolio-card">
    <h3 onclick="cardClick('https://fannysoderlund.github.io/worldClocks/')">World Clocks</h3>
    <br>
    <p>A world clock application that lets you see what time it is arounf the world.
      You can also add you own city and choose what time zone that city belongs to.
      <br>
      Test the application by pressing on the title World Clocks.
    </p>
  </div>

  <div class="portfolio-card">
    <h3 onclick="cardClick('https://github.com/Willz01/Asteria')">Asteria</h3>
    <br>
    <p>A full stack web application made as a school project. Developed with Javascript, Node and Express, with an
      SQLite database.
      It is an application made for booking tickets, viewing trailers and information about movies, and handling your
      own bookings.
      The team consisted of 5 students.
      <br>
      Check out the source code on GitHub by clicking on the name Asteria.
    </p>
  </div>
</div>