<div class="portfolio-container">
  <div class="portfolio-card">
    <img src="./resources/outdork.png" onclick="imageClick('https://github.com/Willz01/Outdork')" alt="outdork">
    <h3>Outdork</h3>
    <br>
    <p>An android application that encourages people to be more outdoors,
      it gives examples of tracks and other outdoor activities to do.
      Outdork was a school project where I was a part in a team of 4 people.
      It was written in Kotlin using Android Studio and Firebase for storing.
      The application is fully functioning, press the image to find it on GitHub.
    </p>
  </div>

  <div class="portfolio-card">
    <img src="./resources/zetkin.jpeg" onclick="imageClick('https://zetkin.org/sv/')" alt="zetkin">
    <h3>Zetkin</h3>
    <br>
    <p>Zetkin foundation is an organization that provides a tool for organizational activism and helps
      organizations with organizing memberships, events and activities.
      I have been volunteering to help with the frontend development of the platform for about 2 years
      on my free time. It is a great organization and I have learned a great deal from them. Primarily JavaScript
      and its friends such as Typescript, Cypress, React, CSS and much more revolving the world of JavaScript.
      <br>
      Read more about Zetkin by pressing the image.
    </p>
  </div>
</div>