*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}



body {
    display: flex;
    flex-direction: column;
    background-color: #696d69	;
    color: #EADDCA	; 

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 10%;
    line-height: 1.5;
}

.me {
    padding: 5vh;
}

.me h1 {
    margin-top: 3vh;
}

#type {
    position: absolute;
    animation: fill 3.5s ease forwards 3.5s;
}

#type path:nth-child(2){
    stroke-dasharray: 97;
    stroke-dashoffset: 97;
    animation: line-anim 2s ease forwards 0.2s; 

}
#type path:nth-child(3){
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: line-anim 2s ease forwards 0.4s; 
}
#type path:nth-child(4){
    stroke-dasharray: 119;
    stroke-dashoffset: 119;
    animation: line-anim 2s ease forwards 0.6s; 

}
#type path:nth-child(5){
    stroke-dasharray: 64;
    stroke-dashoffset: 64;
    animation: line-anim 2s ease forwards 0.8s; 

}
#type path:nth-child(6){
    stroke-dasharray: 58;
    stroke-dashoffset: 58;
    animation: line-anim 2s ease forwards 1s; 

}
#type path:nth-child(7){
    stroke-dasharray: 36;
    stroke-dashoffset: 36;
    animation: line-anim 2s ease forwards 1.2s; 

}
#type path:nth-child(8){
    stroke-dasharray: 54;
    stroke-dashoffset: 54;
    animation: line-anim 2s ease forwards 1.4s; 

}
#type path:nth-child(9){
    stroke-dasharray: 122;
    stroke-dashoffset: 122;
    animation: line-anim 2s ease forwards 1.6s; 

}
#type path:nth-child(10){
    stroke-dasharray: 52;
    stroke-dashoffset: 52;
    animation: line-anim 2s ease forwards 1.8s; 

}
#type path:nth-child(11){
    stroke-dasharray: 41;
    stroke-dashoffset: 41;
    animation: line-anim 2s ease forwards 2s; 

}
#type path:nth-child(12){
    stroke-dasharray: 43;
    stroke-dashoffset: 43;
    animation: line-anim 2s ease forwards 2.2s; 

}
#type path:nth-child(13){
    stroke-dasharray: 57;
    stroke-dashoffset: 57;
    animation: line-anim 2s ease forwards 2.4s; 

}
#type path:nth-child(14){
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: line-anim 2s ease forwards 2.6s; 

}
#type path:nth-child(15){
    stroke-dasharray: 63;
    stroke-dashoffset: 63;
    animation: line-anim 2s ease forwards 2.8s; 

}
#type path:nth-child(16){
    stroke-dasharray: 52;
    stroke-dashoffset: 52;
    animation: line-anim 2s ease forwards 3s; 

}
#type path:nth-child(17){
    stroke-dasharray: 41;
    stroke-dashoffset: 41;
    animation: line-anim 2s ease forwards 3.2s; 

}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}


.me h1 {
    font-size: 70px;
    font-family: 'Abril Fatface', cursive;

}

.me-container {
    display: flex;
}

.me-image img{
    max-width: 23vh;
    height: auto; 
    border-radius: 50%; 
}

.navigate {
    display: flex;
    justify-content: space-around;
    margin-top: 15vh;
    width: 50%;
}

.navigate a {
    text-decoration: none;
    color: black;
    font-size: 30px;  
    font-family: 'Bebas Neue', cursive;
    
}

.go-about:hover {
    transition: 0.3s ease;
    color: #00A36C		;
}

.go-portfolio:hover {
    transition: 0.3s ease;
    color:#FE5F55;
}

.go-contact:hover {
    transition: 0.3s ease;
    color: #E4D00A	;
}

.about {
    margin-bottom: 30vh; 

}

.about-container {
    display: flex;  
    height: 100vh;
 
}

.about-header {
    border-bottom: 2px solid black;
    padding: 3%;
    width: 60%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}


.about-text {
    margin-left: 20vh;
    line-height: 1.9; 
    font-family: 'Montserrat', sans-serif;
}


.about-fun-fact {
    margin-right: 20vh;
    margin-top: 70vh;
    width: 400vh;
    margin-bottom: 5vh;
    line-height: 1.8;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Caveat';
    color: black;
    font-size: 30px;
}

.about-fun-fact:hover {
    cursor: pointer;
}

.about-fun-fact span::selection { 
    background: transparent; 
}

#birds {
    opacity: 0;
    height: 40vh;
    width: 30vh;
}


.dog-container {
    margin-top: 8%;
    height: 50%;
    width: 35%;
    position: relative;
    margin-left: 30%;
    display: flex;
    border: 2px solid black;
}

.like-dog1 {
    width: 100%;
    height: 100%;
    
}

.like-dog2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.like-dog2:hover {
    opacity: 1;
}

.portfolio {
    margin-top: 20vh;
}

.portfolio-container {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
}

.portfolio-header {
    border-bottom: 2px solid black;
    padding: 3%;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.portfolio div {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
}

.outdork p {
    opacity: 0;
    transition: opacity ease-in .5s;

}
.outdork:hover p {
    opacity: 1;
}

.outdork img:hover {
    cursor: pointer;
}

.zetkin p {
    opacity: 0;
    transition: opacity ease-in .5s;

}
.zetkin:hover p {
    opacity: 1;
}

.zetkin img:hover {
    cursor: pointer;
}

.portfolio div img {
    padding-bottom: 4%;
    max-width: 30vh;
    max-height: auto;
}

.contacts {
    height: 100vh;
}

.contacts-header {
    border-bottom: 2px solid black;
    padding: 3%;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.contacts-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    padding-bottom: 30%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.contacts-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.contacts-information a {
    line-height: 3.8;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}


.download {
    margin-top: 10vh;
}

.download button {
    background-color: transparent;
    border: 2px solid #FE5F55;
    text-decoration:none;
    padding: 5px;
    color:#2c2c2c;
    text-align:center;
    transition: all 0.2s;
    border-radius: 8px;
    font-family: 'Bebas Neue', cursive;
    font-size: 23px;
    width: 200px;
    
}
.download button::after {
    content: 'Download resume';
}

.download button:hover{
    background-color: #FE5F55;
}

.download button:focus:hover {
    transition: 0.5s ease;
    background-color: #00A36C;
    border: 2px solid #00A36C;
}
.download button:focus {
    border: 2px solid #00A36C;
}

.download button:focus::after {
    content: 'Downloaded resume';
}

